.theme-modal-header {
  background-color: var(--bs-modal-header-bg);
  color: var(--bs-body-color);
}

.theme-modal-body {
  background-color: var(--bs-modal-bg);
  color: var(--bs-body-color);
}

.theme-modal-footer {
  background-color: var(--bs-modal-footer-bg);
  color: var(--bs-body-color);
}

.theme-dropdown .Select-control {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
  color: var(--bs-body-color);
}

.theme-dropdown .Select-menu-outer {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
}

.theme-dropdown .Select-option {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.theme-dropdown .Select-option.is-focused {
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
}

.theme-dropdown .Select-value-label {
  color: var(--bs-body-color) !important;
}
